In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

In [3]:
pd.read_csv("data/myHome_from_page_1_till_page_790_by_20.csv", index_col=["Unnamed: 0"])

,beds,baths,floor_area,Price,Address,Property_type,New_build,Page
0,3.0,3.0,NaN,PoA,"3 Bedroom Apartment - 55 Lad Lane, Dublin 2",Apartment,NaN,1.0
1,3.0,1.0,105m 2,550000,"38 The Avenue, Boden Park, Rathfarnham, Dubli...",Semi-Detached House,NaN,1.0
2,4.0,3.0,110m 2,795000,"130 Carysfort Park, Blackrock, County Dublin",Semi-Detached House,NaN,1.0
3,2.0,1.0,68m 2,295000,"5 Woodbrook Hall, Carpenterstown, Dublin 15",Apartment,NaN,1.0
4,4.0,2.0,170.07m 2,895000,"70 Kincora Grove, Clontarf, Dublin 3",Semi-Detached House,NaN,1.0
...,...,...,...,...,...,...,...,...
10005,5.0,5.0,200m 2,365000,"No. 1 Gleann Na Boirne, Bellharbour, Clare",Detached House,NaN,500.0
10006,3.0,1.0,107m 2,419000,"Knockdilly Cottage, Knockdilly, Kilmuckridge,...",Detached House,NaN,500.0
10007,4.0,3.0,2675ft 2,435000,"Dooneen, Carrigtwohill, Cork",Detached House,NaN,500.0
10008,2.0,3.0,75m 2,197500,"14 Blossom Court, Esker Hills, Portlaoise, Laois",Detached House,NaN,500.0
10009,4.0,2.0,NaN,198000,"57 Garbally Drive, Ballinasloe, Co. Galway",Semi-Detached House,NaN,500.0

In [130]:
url = "https://www.myhome.ie/residential/ireland/property-for-sale?page="

property_dict = {"beds":[],
                  "baths":[],
                  "floor_area":[],
                  "Price":[],
                  "Address":[],
                  "Property_type":[],
                  "New_build":[],
                  "Page":[],
                    }
for i in range(1,3,1):
    current_url = f"{url}{i}"
    response = requests.get(current_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    for property_listings in soup.find_all("div", "mb-3 ng-star-inserted"):
        # Details include beds, bath, m2 and property_type
        property_details = property_listings.find_all("span", "PropertyInfoStrip__Detail PropertyInfoStrip__Detail--dark ng-star-inserted")
        extract_property_details(property_details, property_dict)
        #Price of the property
        price = property_listings.find_all("div", re.compile("^ng-tns.*ng-star-inserted$"))
        
        address = property_listings.find_all("a",re.compile(".*PropertyListingCard"))
        
        property_dict["Price"].append(price[0].text)
        property_dict["Address"].append(address[0].text)
        property_dict["Page"].append(i)  
        property_dict["New_build"].append(np.nan)
        imput_null_values(property_dict)

In [158]:
class MyHome_web_scraper:
    
    """ 
    The goal of this class is to scrape property data from the Irish property site Daft.ie.
    The class utilizes PySpark for parralization.
    Creating ....
    
    The parameters for the class are:
    url: This is the base url the model will use. Allows you to search the whole of Ireland or can use a differnt url for a small search.
    start_page: what page the model will start scraping from. Will use for parralization.
    end_page: what page the model will stop scraping at. Will use for parralization.
    page_size: The number of property listings each page should return. Usually set to 20.
    """
    
    def __init__(self, url, start_page, end_page):
        self.url = url
        self.start_page = start_page
        self.end_page = end_page
        self.property_dict = {"beds":[],
                  "baths":[],
                  "floor_area":[],
                  "Price":[],
                  "Address":[],
                  "Property_type":[],
                  "New_build":[],
                  "Page":[],
                    }
        
    def start_scraping(self):
        """ 
        The function is used to start the scraping process.
        It uses a for loop to go through all the pages in [start_page, end_page],
        and BeautifulSoup() to retreive the page data.
        
        The soup is then passed the extract_data function.
        """
        
        for i in range(self.start_page, self.end_page):
            self.i = i
            current_url = f"{self.url}{self.i}"
            response = requests.get(current_url)
            soup = BeautifulSoup(response.text, 'html.parser')

            self.extract_data(soup)
        
        return self.property_dict
    
    def extract_data(self, soup):
        
        """ 
        This function is used to find all property listings using the 'soup' then it checks if the listing is a single listing
        or part of a sublisting.
        A sublisting is common for new builds as the builder is selling multiple properties in the new house developement.
        
        If the listing is a single listing the data is extracted using the extract_single_listing function.
        If it is a sublisting (multiple listings) the data is extracted using the extract_sub_listing function.
        """
        
        for property_listings in soup.find_all("div", "mb-3 ng-star-inserted"):
            
            # Details include beds, bath, m2 and property_type
            property_details = property_listings.find_all("span", "PropertyInfoStrip__Detail PropertyInfoStrip__Detail--dark ng-star-inserted")
            self.extract_property_details(property_details)
            
            #Price and ddress of the property
            price = property_listings.find_all("div", re.compile("^ng-tns.*ng-star-inserted$"))
            price = self.convert_price_to_int(price[0].text)
            address = property_listings.find_all("a",re.compile(".*PropertyListingCard"))
            
            #add values to dict
            self.property_dict["Price"].append(price)
            self.property_dict["Address"].append(address[0].text)
            self.property_dict["Page"].append(self.i)  
            self.property_dict["New_build"].append(np.nan)
            
            # add null if any values are missing
            self.imput_null_values()
            
    def extract_property_details(self, property_details):

        """
        This function extracts the number of beds, baths and floor-area for single listed properties.
        """

        for detail in property_details:
            # This will be either bed, bath or property_type
            if len(detail) == 2:
                detail_list = detail.text.strip().split(" ")

                if len(detail_list) == 2:
                    if detail_list[1] in ["beds", "baths"]:
                        self.property_dict[detail_list[1]].append(detail_list[0])
                    elif detail_list[1] in ["bed", "bath"]:
                        self.property_dict[f"{detail_list[1]}s"].append(detail_list[0])
                    else:
                        self.property_dict["Property_type"].append(" ".join(detail_list))

                elif len(detail_list) == 1 or len(detail_list) == 4:
                    self.property_dict["Property_type"].append(detail_list[0])

                else:
                    print(f"Property detail didn't fit into bed, bath or property_type: {detail_list}")

            # This will be floor_area
            elif len(detail) == 3:
                floor_area = detail.text
                if floor_area[-3:] == "m 2" or floor_area[-4:] == "ft 2":
                    self.property_dict["floor_area"].append(floor_area)
                else:
                    print(f"floor area not in ft or m but in type {floor_area}")

    def imput_null_values(self):

        """
        Appends a null value for features in the dict which are missing an entry. 
        """
        maxLen = max([len(self.property_dict[key]) for key in self.property_dict])
        for key in property_dict:
            if len(self.property_dict[key]) < maxLen:
                self.property_dict[key].append(np.nan)

        if sum(np.array([len(self.property_dict[key]) for key in self.property_dict]) == maxLen) != len(self.property_dict):
            print("Error dictionary not of uniform length")
            self.imput_null_values()
    
    def convert_price_to_int(self, price):
        
        """
        This function tries to convert the price to an int if not returns the orginal string.
        """
        try:
            price = int("".join(price.split("â‚¬")[1].split(",")))
        except:
            if price.strip() in ["Price on Application", "POA", "AMV: Price on Application"]:
                price = "PoA"
            else:
                print(price, self.i)
                price = price.strip()
        return price

In [ ]:
url = "https://www.myhome.ie/pricechanges/page-"

In [156]:
url = "https://www.myhome.ie/pricechanges/page-"
start_page = 1
end_page = 350

s1 = MyHome_web_scraper(url, start_page, end_page)

property_dict = s1.start_scraping()

properties = pd.DataFrame(property_dict)

In [25]:
def convert_price_to_int(price):
        
        """
        This function tries to convert the price to an int if not returns the orginal string.
        """
        try:
            price = int("".join(price.split("â‚¬")[1].split(",")))
        except:
            if price.strip() in ["Price on Application", "POA", "AMV: Price on Application"]:
                price = "PoA"
            else:
                print(price, self.i)
                price = price.strip()
        return price

In [42]:
url = "https://www.myhome.ie/priceregister/page-"
sold_dict = {"Date":[],
              "Address":[],
              "Price":[],
              "Page":[],
                    }

for i in range(10,26,5):
    current_url = f"{url}{i}"
    response = requests.get(current_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    for property_listings in soup.find_all("div", "PriceRegisterListItem SoldPropertyListItem"):
        
        address = property_listings.find_all("a", "SoldPropertyListItem__Address")[0].text.strip()
        date = pd.to_datetime(property_listings.find_all("span", "PriceRegisterListItem__Date")[0].text.strip())
        
        price_data = property_listings.find_all("span", "ng-star-inserted")[1].text
        
        print(address)
        print(date)        
        print(price_data)

722 Ryder Cup Village, Kclub, Straffan, Co. Kildare, W23dp49
2022-11-03 00:00:00
â‚¬311,000
Aghamore, Annaduff, Co. Leitrim, N41ya99
2022-11-03 00:00:00
â‚¬140,000
Eslin Bridge, Carrick-on-Shannon, Co. Leitrim, N41e7t1
2022-11-03 00:00:00
â‚¬140,000
162 Dundoogan, Haynestown, Dundalk, Co. Louth
2022-11-03 00:00:00
â‚¬220,220
11 Spire View, Johnstown, Navan, Co. Meath, C15k50a
2022-11-03 00:00:00
â‚¬255,000
15 Cloran Court, Athboy, Co. Meath, C15e7w7
2022-11-03 00:00:00
â‚¬160,000
11 Rathdrum, Drumalee, Co. Cavan, H12ay90
2022-11-03 00:00:00
â‚¬181,000
10 LANA CROKE, DUN CHORMAIC, DUALLA RD CASHEL, Co. Tipperary, E25F803
2022-11-03 00:00:00
â‚¬240,000
60 Ashfield, Mullingar, Co. Westmeath, N91h2c4
2022-11-03 00:00:00
â‚¬251,000
71 Derrygreenagh Park, Rochfortbridge, Mullingar, Co. Westmeath, N91a9x9
2022-11-03 00:00:00
â‚¬180,000
2 Lakeview Crescent, Wicklow, A67fh42, Co. Wicklow
2022-11-03 00:00:00
â‚¬285,000
21 Ferguson Rd, Dublin City, Drumcondra, Dublin 3, D09c2p2
2022-11-03 00:00:00
â‚¬551,500
23 The Crescent, St Marnocks Bay, Portmarnock, Co. Dublin, D13r27n
2022-11-03 00:00:00
â‚¬725,000
31 Villa Park Gardens, Navan Rd, D07y9t8, Dublin 7, Dublin
2022-11-03 00:00:00
â‚¬560,000
33 Newpark Drive, Chapel Road, Kinsealy, Co. Dublin
2022-11-03 00:00:00
â‚¬482,500
41 Landen Rd, Ballyfermot, Dublin 10, D10rx72
2022-11-03 00:00:00
â‚¬325,000
5 Pinehaven, Cross Ave, Blackrock, Co. Cork, A94x3f4
2022-11-03 00:00:00
â‚¬1,300,000
53 Hamilton Ave, Castleland, Balbriggan, Co. Dublin, K32kf77
2022-11-03 00:00:00
â‚¬219,000
88 Sundrive Rd, Dublin 12, Dublin, D12w5y6
2022-11-03 00:00:00
â‚¬600,000
89 Nutgrove Ave, Rathfarnham Dublin 14, Dublin, D14x016
2022-11-03 00:00:00
â‚¬437,000
138 Belmont, Southern Cross Road, Bray, Co. Wicklow, A98h763
2022-11-01 00:00:00
â‚¬497,000
7 Ripley Court Killarney Rd Bray, Co. Wicklow, A98fv12
2022-11-01 00:00:00
â‚¬422,500
233 The Crescent, Millbrook Lawns, Tallaght Dublin 24, D24k2hr
2022-11-01 00:00:00
â‚¬349,000
28 Trimleston, Balbriggan, Co. Dublin, K32c795
2022-11-01 00:00:00
â‚¬293,000
3 Ridgewood Close Forest Rd Swords, Dublin, K67py52
2022-11-01 00:00:00
â‚¬400,000
31 Dingle Road, Cabra West, Dublin 7, Dublin, D07c5pp
2022-11-01 00:00:00
â‚¬453,000
33 Daletree View, Firhouse, Dublin 24, D24y9x8
2022-11-01 00:00:00
â‚¬236,500
36 The Cedars, Cruagh Wood, Stepaside Dublin 18, D18fp65
2022-11-01 00:00:00
â‚¬327,500
4 Carnegie Court, Swords, Co. Dublin, K67xa89
2022-11-01 00:00:00
â‚¬265,000
4 The Grove, Hazelbrook Square, Churchtown, Dublin 14, D14hr53
2022-11-01 00:00:00
â‚¬1,080,000
4 The Mews, Ravens Mill, Church Road
2022-11-01 00:00:00
â‚¬352,423
46 Beresford Square, Donabate, Co. Dublin, K36r279
2022-11-01 00:00:00
â‚¬462,466
49 Beresford Square, Donabate, Co. Dublin
2022-11-01 00:00:00
â‚¬471,365
5 Berkeley Rd, Phibsborough, Dublin 7, D07kt67
2022-11-01 00:00:00
â‚¬345,000
5 Mercer Lodge, Mercer Vale, Cherrywood, Dublin
2022-11-01 00:00:00
â‚¬466,960
5 The Orchard, Monkstown Valley, Monkstown, Co. Cork, A94v2t7
2022-11-01 00:00:00
â‚¬802,000
6 Springhill Park, Dalkey, Co. Dublin, A96y927
2022-11-01 00:00:00
â‚¬915,000
61 Adamstown Ave, Adamstown, Lucan, Co. Dublin, K78n3n6
2022-11-01 00:00:00
â‚¬355,000
63 Avondale Lawn, Blackrock, Co. Dublin, A94a2n5
2022-11-01 00:00:00
â‚¬860,000
9 Swiftbrook Park, Fortunestown, Tallaght Dublin 24, D24t292
2022-11-01 00:00:00
â‚¬257,500
Main Street, Glin, Co. Limerick, V94thh4
2022-10-28 00:00:00
â‚¬85,000
Main St, Ballylanders, Co. Limerick, V35c8h3
2022-10-28 00:00:00
â‚¬167,000
Oriel, Ballinagowan, Lisnagry, Co. Limerick, V94k40p
2022-10-28 00:00:00
â‚¬224,000
Rockfarm Caherline, Caherconlish, Co. Limerick, V94y2h5
2022-10-28 00:00:00
â‚¬325,000
St Helens, 77 College Park, Corbally, Co. Limerick, V94ak0t
2022-10-28 00:00:00
â‚¬323,000
1 Canal View, Clones Rd, Co. Monaghan, H18ch76
2022-10-28 00:00:00
â‚¬330,000
12 HILLCREST MANOR, MONAGHAN, Clontibret, Co. Monaghan, H18AX71
2022-10-28 00:00:00
â‚¬240,000
20 Scotshouse Close, Scotshouse, Co. Monaghan, H23vy16
2022-10-28 00:00:00
â‚¬113,000
35 Woodview, Pound Hill, Co. Monaghan, H18nn12
2022-10-28 00:00:00
â‚¬180,000
6 Killycard Manor, Castleblaney, Co. Monaghan, A75xd26
2022-10-28 00:00:00
â‚¬211,000
3 LINKS CLOSE, PHASE 11, Y35YF62, Rosslare, Co. Wexford
2022-10-28 00:00:00
â‚¬435,000
50 Clos Na Ri, Coolcotts, Co. Wexford, Y35w1w2
2022-10-28 00:00:00
â‚¬265,000
58 Clonattin, Gorey, Co. Wexford, Y25tp92
2022-10-28 00:00:00
â‚¬430,000
9 The Crescent, Green Hill, Clonhaston, Co. Wexford
2022-10-28 00:00:00
â‚¬246,696
Cedar Lodge, Monageer, Ferns, Co. Wexford, Y21yy07
2022-10-28 00:00:00
â‚¬100,000
105 Salthill, Monkstown, Co. Dublin, A94kw88
2022-10-28 00:00:00
â‚¬830,000
13 Emsworth Park, Kinsealy Lane, Kinsealy, Co. Dublin, K36tk61
2022-10-28 00:00:00
â‚¬975,000
14 Assumpta Park, Shankill, Dublin 18, D18a5y2
2022-10-28 00:00:00
â‚¬423,000
16 Balally Ave, Dundrum, Dublin 16, D16a309
2022-10-28 00:00:00
â‚¬147,500
166C Aras Na Cluaine, Nangor Road, Clondalkin, Dublin 22, D22y431
2022-10-28 00:00:00
â‚¬210,000
39 PEARSE ROAD, CO WEXFORD, Enniscorthy, Co. Wexford, Y21V2V9
2022-10-28 00:00:00
â‚¬104,000
9 Oakwood, The Paddock, Enniscorthy, Co. Wexford, Y21h5n3
2022-10-28 00:00:00
â‚¬200,000
90Elderwood, Castlebridge, Co. Wexford, Y35cf40
2022-10-28 00:00:00
â‚¬330,000
BAWNVILLE, TARA HILL, Gorey, Co. Wexford
2022-10-28 00:00:00
â‚¬235,000
Lacken Cottage, Ballinamorragh Lane, Curracloe, Co. Wexford, Y21yw70
2022-10-28 00:00:00
â‚¬348,000
Scullabogue, Folks Mills, Co. Wexford, Y35y522
2022-10-28 00:00:00
â‚¬136,000
1 Woodbrook Close, Rathnapish, Co. Carlow, R93kr12
2022-10-28 00:00:00
â‚¬275,000
145 New Oak Est, Carlow, Co. Carlow
2022-10-28 00:00:00
â‚¬145,000
24 Graigowen, Carlow Rd, Tullow, Co. Carlow, R93vy81
2022-10-28 00:00:00
â‚¬166,000
3 Mount Clare Court, Graiguecullen, Co. Carlow, R93c573
2022-10-28 00:00:00
â‚¬240,000
34 Cluain Bui, Quinagh, Co. Carlow
2022-10-28 00:00:00
â‚¬209,000
4 New Oak Est, Carlow, Co. Carlow, R93x0k6
2022-10-28 00:00:00
â‚¬180,000
5 Green Hills, Carlow, Co. Carlow, R93v0h1
2022-10-28 00:00:00
â‚¬260,000
6 Killerig Court, Killerig Golf Course, Killerig, Co. Carlow, R93kv10
2022-10-28 00:00:00
â‚¬160,000
9 Hanover Sq, Kennedy Avenu, Co. Carlow, R93yy17
2022-10-28 00:00:00
â‚¬160,000
Grangeford, Bennekerry, Co. Carlow, R93w8e2
2022-10-28 00:00:00
â‚¬285,000
10 Emmet St, Mallow, Co. Cork, P51p8kp
2022-10-28 00:00:00
â‚¬160,000
10 Stranacorkra, Derrybeg, Letterkenny, Co. Donegal
2022-10-28 00:00:00
â‚¬56,000
11 Oakridge, Meadowlands, Macroom, Co. Cork, P12dh28
2022-10-28 00:00:00
â‚¬225,000
12 Ban Na Greine, Carrigtwohill, Co. Cork, T45k377
2022-10-28 00:00:00
â‚¬260,000

In [38]:
url = "https://www.myhome.ie/priceregister/page-"
sold_dict = {"Date":[],
              "Address":[],
              "Price":[],
              "Page":[],
                    }

for i in range(10,26,5):
    current_url = f"{url}{i}"
    response = requests.get(current_url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    for property_listings in soup.find_all("div", "PriceRegisterListItem SoldPropertyListItem"):
        
        address = property_listings.find_all("a", "SoldPropertyListItem__Address")[0].text
        date = pd.to_datetime(property_listings.find_all("span", "PriceRegisterListItem__Date")[0].text.strip())
        
        price_data = property_listings.find_all("span", "ng-star-inserted")
        p1 = price_data[0]
        p2 = price_data[1]
        
        change_euro = convert_price_to_int(p1.find_all("span")[0].text)
        change_precentage = float(p1.find_all("span")[1].text[1:-2])
        if change_precentage < 0:
            change_euro = change_euro *-1
        old_price = convert_price_to_int(p2.find_all("span")[0].text)
        new_price = convert_price_to_int(p2.find_all("span")[1].text)
        
        price_change_dict["Date"].append(date)
        price_change_dict["Address"].append(address)
        price_change_dict["New_price"].append(new_price)
        price_change_dict["Old_price"].append(old_price)
        price_change_dict["Change(â‚¬)"].append(change_euro)
        price_change_dict["Change(%)"].append(change_precentage)
        price_change_dict["Page"].append(i)

In [39]:
pd.DataFrame(price_change_dict)

,Date,Address,New_price,Old_price,Change(â‚¬),Change(%),Page
0,2022-11-17,"73, Block 5A, The Casino, Malahide, Dublin",545000,595000,-50000,-8.40,10
1,2022-11-17,"308 Sundays Well, Naas, Kildare",375000,379000,-4000,-1.06,10
2,2022-11-17,"Tulligee, Clonakilty, West Cork",350000,360000,-10000,-2.78,10
3,2022-11-17,"71 Carton House, The Oaks, Ridgewood, Swords,...",270000,280000,-10000,-3.57,10
4,2022-11-17,"19 Fernhill , Arklow, Wicklow",289000,325000,-36000,-11.08,10
5,2022-11-17,"Old Creagh School, Creagh, Baltimore, Cork",100000,80000,20000,25.00,10
6,2022-11-17,"Gormanston Road, Stamullen, Meath",315000,325000,-10000,-3.08,10
7,2022-11-17,"17 Monastery Heath Court, Clondalkin, Dublin 22",225000,245000,-20000,-8.16,10
8,2022-11-17,"21 Pebble Drive, Pebble Beach, Tramore, Water...",155000,165000,-10000,-6.06,10
9,2022-11-17,"Old Labour Exchange, Quay Road, Dungloe, Done...",130000,165000,-35000,-21.21,10
10,2022-11-17,"10 Griffeen Glen Drive, Lucan, County Dublin",565000,445000,120000,26.97,10
11,2022-11-16,"65 The Glen, Portarlington, Co. Laois",199000,210000,-11000,-5.24,10
12,2022-11-16,"3 Malone Gardens, Sandymount, Dublin 4",795000,850000,-55000,-6.47,10
13,2022-11-16,"10 O`Connell Terrace, Clonmel, Co. Tipperary",115000,140000,-25000,-17.86,10
14,2022-11-16,"39 Mill Hill Park, Skerries, Co. Dublin",470000,495000,-25000,-5.05,10
15,2022-11-16,121 College Hill,259950,269950,-10000,-3.70,10
16,2022-11-14,"82 Applewood Heights Greystones, Greystones, ...",625000,475000,150000,31.58,15
17,2022-11-14,"Four Bedroom Semi-Detached Residence, 9 The P...",415000,425000,-10000,-2.35,15
18,2022-11-14,"26 Inver Geal, Cortober, Carrick-on-Shannon, ...",135000,145000,-10000,-6.90,15
19,2022-11-14,"4 Belmont Avenue, Ballinlough, Cork",297500,320000,-22500,-7.03,15
20,2022-11-14,"Apartment 6, Lee Vista, Cork City, Cork",190000,185000,5000,2.70,15
21,2022-11-14,"Lee View, Mount Ovel, Rochestown, Cork",349500,375000,-25500,-6.80,15
22,2022-11-14,"8 Corkhill, Kinnegad, Westmeath",199950,230000,-30050,-13.07,15
23,2022-11-14,"Ballinruan, Crusheen, Caher, Clare",550000,395000,155000,39.24,15
24,2022-11-14,"Attycristora, Lahinch, Clare",655000,695000,-40000,-5.76,15
25,2022-11-14,"No 7 Maryville Gardens, Courtown, Gorey, Wexf...",165000,178000,-13000,-7.30,15
26,2022-11-14,"16 The Walnut, Grattan Wood, Donaghmede, Dubl...",270000,225000,45000,20.00,15
27,2022-11-13,"Apartment 4, Watermill Place, Market Square, ...",135000,130000,5000,3.85,15
28,2022-11-11,"Gallowhill, Athy, Kildare",320000,310000,10000,3.23,15
29,2022-11-11,"123 Newhaven Bay, Balbriggan, County Dublin",265000,295000,-30000,-10.17,15
30,2022-11-11,"Site at Beechfield, Castletroy, Co. Limerick",250000,275000,-25000,-9.09,15
31,2022-11-09,"The Willows, Lakepoint",199950,219950,-20000,-9.09,20
32,2022-11-09,"44 Shrewsbury Park, Ballsbridge, Dublin 4",995000,950000,45000,4.74,20
33,2022-11-09,"44 Shrewsbury Park, Ballsbridge, Dublin 4",950000,995000,-45000,-4.52,20
34,2022-11-09,"The Willows, Pembrokestown, Duncormick, Wexford",340000,395000,-55000,-13.92,20
35,2022-11-09,"33 Devon Park, Salthill, Co. Galway",610000,595000,15000,2.52,20
36,2022-11-09,"Coornagillagh, Tuosist, Kenmare, Co. Kerry",295000,315000,-20000,-6.35,20
37,2022-11-09,"73 Donore Avenue, South Circular Road, Dublin 8",550000,580000,-30000,-5.17,20
38,2022-11-09,"3 The Drive, Milltree Park, Ratoath, Co. Meat...",355000,325000,30000,9.23,20
39,2022-11-08,"2 The Tanager, Barnageeragh Cove, Skerries, D...",650000,625000,25000,4.00,20
40,2022-11-08,"Moorland Cottage, Annies, Hollymount, Mayo",95000,89000,6000,6.74,20
41,2022-11-08,"The Oval, 33 Tullyvale, Cabinteely, Dublin 18",265000,280000,-15000,-5.36,20
42,2022-11-08,"17 Riverchapel Square, Riverchapel Wood, Cour...",249000,255000,-6000,-2.35,20
43,2022-11-04,"Galway City, Galway, Co. Galway",30000,40000,-10000,-25.00,25
44,2022-11-04,"Macetown, Navan, Meath",395000,350000,45000,12.86,25
45,2022-11-04,"11 Woodlands, Lackagh, Turloughmore, Co. Galway",280000,295000,-15000,-5.08,25
46,2022-11-04,"13 Bolands Court, Gort, Galway",195000,225000,-30000,-13.33,25
47,2022-11-03,"29 Willow Green,Athlumney Wood,Navan,Co. Meat...",295000,300000,-5000,-1.67,25
48,2022-11-03,"16 Park Way Grangerath, Drogheda, Meath",349000,365000,-16000,-4.38,25
49,2022-11-03,"59 Chapel Farm Road, Lusk, Co. Dublin",290000,315000,-25000,-7.94,25
50,2022-11-03,"13 Kent Road, Ballyphehane, Cork City",245000,265000,-20000,-7.55,25
51,2022-11-03,"Kilcoe, 17 Saint James Court, Ennis Road, Co....",289000,310000,-21000,-6.77,25
52,2022-11-03,"Unit 4 Blessington Industrial Estate, Blessin...",169000,195000,-26000,-13.33,25
53,2022-11-03,"Bawn, Mansfieldtown, Castlebellingham, Louth",725000,780000,-55000,-7.05,25
54,2022-11-03,"6 Rivercourt,, Goresbridge, Kilkenny",215000,245000,-30000,-12.24,25
55,2022-11-03,"59 Chapel Farm Road, Lusk, Co. Dublin",315000,290000,25000,8.62,25

In [131]:
def extract_property_details(property_details, propery_dict):

    """
    This function extracts the number of beds, baths and floor-area for single listed properties.
    """

    for detail in property_details:
        # This will be either bed, bath or property_type
        if len(detail) == 2:
            detail_list = detail.text.strip().split(" ")
            
            if len(detail_list) == 2:
                if detail_list[1] in ["beds", "baths"]:
                    propery_dict[detail_list[1]].append(detail_list[0])
                elif detail_list[1] in ["bed", "bath"]:
                    propery_dict[f"{detail_list[1]}s"].append(detail_list[0])
                else:
                    propery_dict["Property_type"].append(" ".join(detail_list))
                    
            elif len(detail_list) == 1:
                propery_dict["Property_type"].append(detail_list[0])
                
            else:
                print(f"Property detail didn't fit into bed, bath or property_type: {detail_list}")
        
        # This will be floor_area
        elif len(detail) == 3:
            floor_area = detail.text
            if floor_area[-3:] == "m 2" or floor_area[-4:] == "ft 2":
                propery_dict["floor_area"].append(floor_area)
            else:
                print(f"floor area not in ft or m but in type {floor_area}")
                
def imput_null_values(property_dict):

    """
    Appends a null value for features in the dict which are missing an entry. 
    """
    maxLen = max([len(property_dict[key]) for key in property_dict])
    for key in property_dict:
        if len(property_dict[key]) < maxLen:
            property_dict[key].append(np.nan)

    if sum(np.array([len(property_dict[key]) for key in property_dict]) == maxLen) != len(property_dict):
        print("Error dictionary not of uniform length")
        imput_null_values(property_dict)

In [ ]:
def extract_property_details(self, property_details):
        
        """
        This function extracts the number of beds, baths and floor-area for single listed properties.
        """

        for detail in property_details:
            try:
                detail_value = detail.text.split()[0]
                detail_type = detail.text.split()[1]
            except:
                print(detail)

            if detail_type in ["Bed","Bath","mÂ²"]:
                try:
                    self.property_dict[detail_type].append(int(detail_value))
                except ValueError:
                    self.property_dict[detail_type].append(detail_value)
            elif detail_type == "ac":
                size = self.convert_ac_m2(detail_value)
                self.property_dict["mÂ²"].append(size)
            else:
                print(f"Found {detail}, while trying to extract bed, bath and floor-area")

In [132]:
for key in property_dict:
    print(len(property_dict[key]))

40
40
40
40
40
40
40
40

In [133]:
pd.DataFrame(property_dict)

,beds,baths,floor_area,Price,Address,Property_type,New_build,Page
0,4,2,143m 2,"â‚¬400,000","4 Highfield, Dublin road, Arklow, Wicklow",Detached House,NaN,1
1,4,3,143.35m 2,"â‚¬925,000","20 Brighton Avenue, Foxrock, Dublin 18",Detached House,NaN,1
2,1,1,56m 2,"â‚¬129,000","9 Dun Aoibhinn, Dungarvan, Co. Waterford",Apartment,NaN,1
3,4,3,134.1m 2,"â‚¬350,000","56 The Meadows, Bullock Park, Green Road, Car...",Detached House,NaN,1
4,3,3,103m 2,"â‚¬200,000","36 Norbury Woods Green, Norbury Woods, Tullam...",House,NaN,1
5,4,2,131m 2,POA,"Pearsons Brook, Gorey, Wexford",Semi-Detached House,NaN,1
6,4,2,131m 2,"â‚¬149,000","39 Beechwood Park , Granard, Longford",Semi-Detached House,NaN,1
7,3,1,95m 2,"â‚¬340,000","43 Roseville, Naas, Co. Kildare",Semi-Detached House,NaN,1
8,5,3,155m 2,"â‚¬695,000","42 Cypress Grove Road, Templeogue, Dublin 6W",Semi-Detached House,NaN,1
9,4,2,NaN,"â‚¬450,000","Harbour View, Maulicurrane, Union Hall, Wes...",Bungalow,NaN,1
10,4,2,105m 2,"â‚¬525,000","15 Daneswell Road, Glasnevin, Dublin 9",Semi-Detached House,NaN,1
11,5,5,299m 2,"â‚¬725,000","Highview, Mullacash, Naas, Co. Kildare",Bungalow,NaN,1
12,4,3,115m 2,"â‚¬240,000","18 Carraig Cluain, Tullamore, Co. Offaly",House,NaN,1
13,3,2,NaN,"â‚¬270,000","West End, Drimoleague, West Cork",Detached House,NaN,1
14,4,2,232m 2,"â‚¬1,395,000","Casa Blanca, Verbena Avenue, Westminster Road...",Detached House,NaN,1
15,4,3,170m 2,"â‚¬649,000","Sonas, Cloghan, Westport, Co. Mayo",Detached House,NaN,1
16,3,3,940ft 2,"â‚¬259,950","18 The Woods, Cnoc na Greine, Kilcullen, Co K...",Terraced House,NaN,1
17,4,3,116m 2,"â‚¬220,000","25 Norbury Woods Green, Norbury Woods, Tullam...",House,NaN,1
18,4,2,154.6m 2,"â‚¬795,000","26 Castilla Park, Clontarf, Dublin 3",Semi-Detached House,NaN,1
19,4,1,132.04m 2,"â‚¬350,000","18 Cluain Aoibhinn, Maynooth, Co. Kildare",Semi-Detached House,NaN,1
20,5,4,250.09m 2,"â‚¬525,000","Pagestown, Kilcloon, Co. Kildare",Detached House,NaN,2
21,4,5,250m 2,"â‚¬1,250,000","Sea La Vie,Coast Road,Fountainstown,Co Cork",Detached House,NaN,2
22,6,3,256m 2,"â‚¬1,695,000","54 Palmerston Road, Rathmines, Dublin 6",Terraced House,NaN,2
23,3,4,180m 2,"â‚¬750,000","28 The Quarry, Carrickhill Road, Portmarnock,...",Semi-Detached House,NaN,2
24,3,3,111m 2,"â‚¬199,000","3 Armstrong Grove, Clara, Co. Offaly",Semi-Detached House,NaN,2
25,3,1,76m 2,"AMV â‚¬110,000","77 Kennedy Park, Thurles, Co. Tipperary",Semi-Detached House,NaN,2
26,3,1,NaN,"Guide Price â‚¬285,000","3 The Pines, Fairyhouse Road, Ratoath, Co. Meath",Terraced House,NaN,2
27,NaN,NaN,NaN,"Guide Price â‚¬800,000","1-4 Millmount Close, Drogheda, Co. Louth",Investment,NaN,2
28,4,3,176m 2,"â‚¬1,100,000","3 Oak Park, Malahide, County Dublin",Detached House,NaN,2
29,3,1,91.66m 2,"â‚¬360,000","174 Riverforest, Leixlip, Kildare",Semi-Detached House,NaN,2
30,2,NaN,68m 2,"â‚¬465,000","24 Delgany Park, Delgany, Co. Wicklow.",Detached House,NaN,2
31,5,3,276m 2,"â‚¬595,000","The Barn, The Green, Cheekpoint, Waterford",Detached House,NaN,2
32,3,2,88m 2,"â‚¬290,000","25 Our Lady's Place, Naas, Co. Kildare",Semi-Detached House,NaN,2
33,2,2,75m 2,"â‚¬220,000","3b Willow Park, Cluain Ard, Cobh, Cobh, Cork",Semi-Detached House,NaN,2
34,6,4,248m 2,"â‚¬1,295,000","44 Fortfield Road, Terenure, Dublin 6",Detached House,NaN,2
35,3,1,125.6m 2,"â‚¬449,000","Elam, Browningstown, Douglas, Cork , Douglas,...",Semi-Detached House,NaN,2
36,3,1,100m 2,"â‚¬495,000","60 The Cloisters, Terenure, Dublin 6",Semi-Detached House,NaN,2
37,4,3,278m 2,"â‚¬1,150,000","4 Fairacre, The Warren, Malahide, Co. Dublin",Detached House,NaN,2
38,4,4,195m 2,"â‚¬650,000","Tullagreen, Passage Road, Waterford City, Wat...",Semi-Detached House,NaN,2
39,4,6,NaN,"â‚¬490,000","Vernegly, Bannow, Wexford",Detached House,NaN,2

In [ ]:
    def extract_property_details(self, property_details):
        
        """
        This function extracts the number of beds, baths and floor-area for single listed properties.
        """

        for detail in property_details:
            try:
                detail_value = detail.text.split()[0]
                detail_type = detail.text.split()[1]
            except:
                print(detail)

            if detail_type in ["Bed","Bath","mÂ²"]:
                try:
                    self.property_dict[detail_type].append(int(detail_value))
                except ValueError:
                    self.property_dict[detail_type].append(detail_value)
            elif detail_type == "ac":
                size = self.convert_ac_m2(detail_value)
                self.property_dict["mÂ²"].append(size)
            else:
                print(f"Found {detail}, while trying to extract bed, bath and floor-area")

In [11]:
for property_listings in soup.find_all("div", "mb-3 ng-star-inserted"):
    property_details = property_listings.find_all("span", "PropertyInfoStrip__Detail PropertyInfoStrip__Detail--dark ng-star-inserted")
    print(len(property_details))

4
 5 beds
 4 baths
250.09m 2
Detached House
5
 4 beds
 5 baths
250m 2

Detached House
5
 6 beds
 3 baths
256m 2

Terraced House
5
 3 beds
 4 baths
180m 2

Semi-Detached House
5
 3 beds
 3 baths
111m 2

Semi-Detached House
5
 3 beds
 1 bath
76m 2

Semi-Detached House
4
 3 beds
 1 bath

Terraced House
2

Investment
5
 4 beds
 3 baths
176m 2

Detached House
5
 3 beds
 1 bath
91.66m 2

Semi-Detached House
4
 2 beds
68m 2

Detached House
5
 5 beds
 3 baths
276m 2

Detached House
5
 3 beds
 2 baths
88m 2

Semi-Detached House
5
 2 beds
 2 baths
75m 2

Semi-Detached House
5
 6 beds
 4 baths
248m 2

Detached House
5
 3 beds
 1 bath
125.6m 2

Semi-Detached House
5
 3 beds
 1 bath
100m 2

Semi-Detached House
5
 4 beds
 3 baths
278m 2

Detached House
5
 4 beds
 4 baths
195m 2

Semi-Detached House
4
 4 beds
 6 baths

Detached House

In [33]:
current_url = f"{url}{3}"
response = requests.get(current_url)
soup = BeautifulSoup(response.text, 'html.parser')
for property_listings in soup.find_all("div", "mb-3 ng-star-inserted"):
    addy = property_listings.find_all("a",re.compile(".*PropertyListingCard"))
    price = property_listings.find_all("div", re.compile("^ng-tns.*ng-star-inserted$"))
    print(addy[0].text)

 25 Philipsburgh Avenue, Fairview, Dublin 3
 Danescastle, Carrig On Bannow, Bannow, Wexford
 28 Grove Park, Rathmines, Dublin 6
 Cloonkeely, Tuam, Co. Galway
 5 St Barnabas Gardens, East Wall, Dublin 3
 12 Oranhill Road, Oranhill, Oranmore, Galway
 Leamanaghan, Ballycumber, Offaly
 39 Milford Park, Ballinabranna, Carlow
 65 Ranelagh Road, Ranelagh, Dublin 6
 155 Rosary Terrace, Irishtown, Dublin 4
 29 Gate Lodge, Castle Road, Blackrock, Cork
 59 Castleknock Laurels , Castleknock, Dublin 15
 106 Castle Park, Tallaght, Dublin 24
 20 Castle Elms, Coolock, Dublin 17
 7 Mayeston Court, Finglas, Dublin 11
 25A Meadow Park Avenue, Churchtown, Dublin 14
 Carstown, Ballymakenny, Drogheda, Co. Louth
 8 The Court, Newtown Manor, Kill, Co. Kildare
 27 Arconagh, Naas, Co. Kildare
 6 Brackinrainey Wood, Longwood, Co. Meath